body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(300, 43%, 22%);
  padding: 10px 20px;
  margin-bottom: 30px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background: hsl(333, 80%, 67%);
  border-radius: 5px;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.burger div {
  width: 25px;
  height: 3px;
  background: white;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: hsl(300, 43%, 22%);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 1rem;
    border-radius: 8px;
  }

  .nav-links li {
    display: block;
    margin: 10px 0;
  }

  .burger {
    display: flex;
  }

  .nav-links.show {
    display: flex;
  }
}

.product-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.image-section {
  flex: 1 1 400px;
  width: 100%;
}

.main-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.thumbnail-row {
  display: flex;
  justify-content: space-between; 
  margin-top: 15px;
  width: 100%; 
}

.thumbnail {
  flex: 1; 
  max-width: 22%; 
  height: auto;
  aspect-ratio: 1 / 1; 
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s ease;
  object-fit: cover;
}

.thumbnail.active {
  border: 2px solid hsl(300, 43%, 22%);
  opacity: 0.6; 
}

.info-section {
  flex: 1 1 400px;
  align-self: center;
  padding-bottom: 300px;
  padding-left: 50px;
}

.company-name {
  text-transform: uppercase;
  padding-top: 50px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
  color: grey;
  margin-bottom: 10px;
}

.product-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-description {
  font-size: 20px;
  color: grey;
  padding-top: 50px;
  margin-bottom: 20px;
  text-align: justify;
}

.price-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.current-price {
  font-size: 24px;
  font-weight: bold;
  color: green;
}

.discount {
  background-color: black;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 10px;
}

.old-price {
  font-size: 16px;
  text-decoration: line-through;
  color: rgb(0, 0, 0);
  margin-left: 10px;
}



.quantity-cart {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.quantity-btn {
  background: none;
  border: none;
  color: #ff7d1a;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  padding: 0 10px;
}

.quantity {
  font-size: 18px;
  margin: 0 10px;
}

.quantity-btn:hover {
        opacity: 0.7;
    }
    
.quantity {
  font-weight: 700;
  font-size: 16px;
}
    
.add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  background-color: #ff7d1a;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 18px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 15px 20px rgba(255, 125, 26, 0.25);
}
    
.add-to-cart-btn:hover {
  background-color: hsl(300, 43%, 22%);
}

.add-to-cart-btn svg {
    fill: white;
}
  
