<div class="footer-container">
  <p class="footer-copy">© 2025 SleepDeprived</p>
  <div class="footer-social">
    <a href="https://github.com/" target="_blank" aria-label="GitHub">
      <img src="asset/icons/github.svg" alt="GitHub">
    </a>
    <a href="https://twitter.com/" target="_blank" aria-label="Facebook">
      <img src="asset/icons/facebook.svg" alt="Facebook">
    </a>
    <a href="https://linkedin.com/in/" target="_blank" aria-label="Twitter">
      <img src="asset/icons/x.svg" alt="Twitter">
    </a>
  </div>
    <div class="footer-links">
        <a href="docs/privacy.txt" target="_blank">Privacy Policy</a>
        <span>|</span>
        <a href="docs/terms.txt" target="_blank">Terms of Service</a>
    </div>
</div>
